<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="PriceCheckApp" packages="">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="RollingFile" fileName="/Users/daniilzhogolev/Documents/Projects/PriceCheckApp/src/main/resources/logs/app.log" filePattern="/Users/daniilzhogolev/Documents/Projects/PriceCheckApp/src/main/resources/logs/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="15 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.example" level="debug" additivity="false">
            <!-- <AppenderRef ref="Console"/> -->
        </Logger>

        <Root level="debug">
            <AppenderRef ref="RollingFile"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>